.interestSection {
  padding: 80px 20px 100px;
  background: #0a1929;
  color: white;
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.highlight {
  color: #8338ec;
}

.interestsGrid {
  display: grid;
  gap: 20px;
  margin-top: 30px;
}

@media (min-width: 700px) {
  .interestsGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.interestCard {
  background: rgba(255, 255, 255, 0.06);
  padding: 30px;
  border-radius: 12px;
  transition: 0.3s;
}

.interestCard:hover {
  transform: translateY(-5px);
  background: rgba(255, 255, 255, 0.1);
}

.icon {
  font-size: 30px;
  color: #3a86ff;
  margin-bottom: 10px;
}
